@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    font-family: 'Inconsolata';
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
    cursor: url('https://cdn.cursors-4u.net/previews/world-of-warcraft-wow-hand-armor-0d67e864-32.webp') 32 32, auto !important;
}

h1,
h2,
h3 {
    font-family: Arial;
    font-style: italic;
    letter-spacing: -2px;
}

a {
    text-decoration: none;
    color: black;
}

nav li {
    list-style-type: none;
    text-align: center;
}

a:hover {
    background-color: yellow;
}

a:active {
    transform: scale(0.95);
    cursor: pointer;
    display: inline-block;
}

header,
footer {
    background-color: black;
    color: white;
    padding: 10px;
    text-align: center;
}

footer a {
    color: white;
}

footer a:hover {
    color: black;
}

.card,
.recipe-card {
    width: 500px;
    background-color: white;
}

main {
    border-left: 1px solid black;
    border-right: 1px solid black;
    padding: 40px;
}

.ingredients ul {
    padding-left: 30px;
}

.steps ol {
    padding-left: 40px;
}

section {
    padding-top: 10px;
}

main img {
    display: block;
}

body {
    background-image: url(./images/durotar.png);
    background-size: cover;
    background-attachment: fixed;
}

header {
    margin-top: 50px;
    padding: 20px;
}

footer {
    margin-bottom: 50px;
}