@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap');

* {
    font-family: 'Inconsolata';
}

h1,
h2,
h3 {
    font-family: Arial;
    font-style: italic;
    letter-spacing: -2px;
}

a {
    text-decoration: none;
}

nav li {
    list-style-type: none;
}